[Unit]
Description=Phoenix voltage-based battery charge inhibitor
ConditionPathExists=/sys/class/power_supply/pm8150b-charger/charge_behaviour

[Service]
Type=oneshot
ExecStart=/usr/libexec/phoenix-charge-cap.sh
